<%= erb :_navbar %>

<div class="trebek">
</div>
<div class="card-info">

    <div class ="question"><%= @card.question %></div>

    <div data-result="<%= @result %>" id="answer-eval"><%= @result %></div>
</div>

<div class="guess">
  <form action="/round" method="POST">
    <input id="guess" type="text" name="guess" placeholder="Enter answer">
    <input type="hidden" name="card_id" value="<%=@card.id %>">
    <input id="answer_button" type="Submit">
  </form>
</div>

<div id="timer">15</div>
