<%= erb :_navbar %>
<h2>Hi there, <%= User.find(session[:id]).name %>!</h2>

  <p>Available Decks:</p>
  <table>
    <ul>
        <% @decks.each do |item| %>
    <li><a href="/round/<%=item.id%>" name="<%=item.id%>"><%=item.name%></a></li><br>
  <% end %>
    </ul>
  </table>
   <h3>Game History</h3>
<table>
  <tr>
      <th>Game Time</th>
      <th>Deck</th>
      <th>Correct</th>
      <th>Incorrect</th>
      <th>Percentage</th>

  </tr>
  <tr>
      <%@rounds.order('created_at DESC').limit(10).each do |round|%>
      <td><%=round.created_at.to_s(:short)%></td>
      <td><%= Deck.find(round.deck_id).name%></td>
      <td><%=round.number_correct%></td>
      <td><%=round.number_guessed - round.number_correct%></td>
      <% if round.number_correct == 0 || round.number_guessed == 0 %>
      <td><%= 0 %></td>
      <% else %>
      <td><%= ((round.number_correct.to_f/round.number_guessed.to_f)*100).round(2).to_s + "%" %></td>
      <%end%>
  </tr>     <%end%>
</table>

