<%= erb :_navbar %>
<h1>Your Account!</h1>


<% @decks.each do |item| %>
  <a href="/round/<%=item.id%>" name="<%=item.id%>"><%=item.name%></a>
<% end %>

<td>
  <tr>Name: <%= @user.name %></tr><br>
  <tr>Username: <%= @user.email %></tr>
  

</td>  

